html, body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}
.title-main{
    font-size: 32px;
    font-weight: 400;
    margin-top: 20px;
}
.news-title{
    font-size: 20px;
    font-weight: 400;
    margin:15px 0 0 0;
    letter-spacing: 0.3;
    font-weight: bolder;

}
.container{
  width: auto;  
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.news-display-section{
    padding: 20px 0;
    background-color:  #d9e8f5;
    text-align: center;
}
.news-display-wrapper{
    text-align: center;
    background-color: #fff;
    min-height: 75vh;
}
.news-listing-wrapper{
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.form-search{
    padding: 30px 15px 10px 15px;
    margin-bottom: 0;
}
.search-input{
    width: 100%;
    height: 50px;
    border: 1px solid #d0deea;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 20px;
}
.search-input:focus{
    outline: 0;
    border-color: #a2c2de;
}
.submit-btn{
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0;
    min-height: 50px;
    background-color: #017ae2;
    color: #fff;
    outline: none;
    cursor: pointer;
    padding:0 10px;
}
.submit-btn:focus{
    outline: none;
    box-shadow: 0;
}
.news-list-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 15px;
}
.news-img{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    border-radius: 12px;
    overflow: hidden;

}
.news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-details{
    padding: 0;
    text-align: left;
}
.form-group{
    position: relative;
}
.progress-loader{
    margin: 10% auto;
}
@media(min-width: 768px){
    .container{
        width: 750px;
    }
    .form-search{
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .news-list-item{
        flex-direction: column;
        align-items: start;
        width: 45%;
        padding: 15px;
    }
    .news-img{
        margin-right: 20px;
    }

    .news-title{
        font-size: 24px;
        padding: 0px;
        margin-top: 15px;
    }
    .form-search{
        padding: 60px 15px 0 15px;
    }
    .news-img{
        width: 150px;
        min-width: 150px;
        height: 150px;
    }
}
@media(min-width: 992px){
    .container{
        width: 970px
    }
    .title-main{
        font-size: 50px;
    }
    .news-title{
        font-size: 30px;
    }
    .news-list-item{
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .form-search{
        max-width: 75%;
    }
}
@media(min-width: 1200px){
    .container{
        width: 1170px
    }
}